<div class="container-fluid">
  <div class="row justify-content-center">
    <div id="homepage" class="col-10 ">
      <span id="hippo" class="fa-solid fa-hippo fa-10x"></span>
      <div id="message">
        <h1>Welcome to Happy Hippo´s Lists!</h1>
        <p>
          Happy Hippo is a simple tool to keep track of books you want to read, have read or any other reason you might want to keep track of a book.
          Happy Hippo also supplies you with the posibillity to store your top 5 favorite quotes.
        </p>
        <p>
          In order to make use of these services you have to create an account and sign in.
        </p>
      </div>
    </div>
  </div>
</div>
